.footer-container {
  background-color: #D8232A;
  color: #FFFFFF;
  padding: 20px 0;
  text-align: center; margin-top: auto;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-links,
.footer-socials {
  margin: 10px 0;
}

.footer-links a,
.footer-socials a {
  color: #FFFFFF;
  margin: 0 10px;
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-weight: 200;
  font-size: 1rem;
}

.footer-links a:hover,
.footer-socials a:hover {
  text-decoration: underline;
  color: #FFD700;
}

.footer-copy {
  margin-top: 20px;
  font-family: "Roboto Mono", monospace;
}

@media screen and (max-width: 750px) {
  .footer-links,
  .footer-socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-links a,
  .footer-socials a {
    margin: 5px 0;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 550px) {
  .footer-links a,
  .footer-socials a {
    font-size: 0.8rem;
  }
.links-div{
          display: flex;
        justify-content: space-around;
        align-items: flex-end;

}
  .footer-copy {
    font-size: 0.8rem;
  }
}
